/*註解*/
h5,
p {
  background-color: rgba(255, 255, 255, 0.7);
  width: 300px;
  color: rgb(43, 73, 128);
}

/*設定連結樣式(改變預設顏色&底線)*/
a {
  background-color: aquamarine;
  text-decoration: none;
  color: rgb(14, 102, 157);
}
/*置中*/
table {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

body {
  /* 背景圖片 */
  background-image: url(./picture/work.jpg);
  /* 背景圖片樣式 */
  background-size: cover;
  /* 背景置中 */
  background-position: center;
  position: relative;
}

h1 {
  background-color: rgb(253, 242, 228);
  color: cadetblue;
  border: 5px solid rgb(185, 151, 151);
  width: 128px;
  padding: 1rem;
}
